body{
background-color: rgba(137, 43, 226, 0.632);
font-family: Arial, Helvetica, sans-serif;
}
header{
background-color: rgb(249, 251, 252);
margin: 0 auto;
padding: 16px;
}
section{
background-color: rgb(188, 98, 252);
margin: 16px;
max-width: 500px;
border-radius: 10px;
}